AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Empty
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: NextLineOnly
NamespaceIndentation: All
ColumnLimit: 90
