# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib

# Compiled executables
*.exe
*.out

# Build directories
build/
bin/
objects/

# IDE and editor files
.vscode/
.idea/
*.suo
*.user
*.sln
*.vcxproj
*.xcodeproj

# Dependency directories
lib/
vendor/
dependencies/

.DS_Store
*.hpp.gch

info.md
